header {
    width: 250px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #38444D;
}

header > div {
    display: flex;
    flex-direction: column;
}

.header-logo {
    padding: 1rem;
    color: white;
}

.header-logo svg {
    width: 30px;
    height: 30px;
}

header nav li {
    list-style: none;
}

header nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
    padding: 0.7rem 1.2rem;
    width: min-content;
    border-radius: 50px;
}

header nav li a:hover {
    background-color: #162D40;
    color: #1DA1F2;
    transition: color 0.5s, background-color 0.5s;
}

header nav li a svg {
    height: 25px;
    width: 25px;
}

header nav li p {
    margin: 0;
}

.header-tweet-button {
    margin: 1rem;
    padding: 1rem;
    background-color: #1C9DED;
    border-radius: 50px;
    color: white;
    border: none;
    cursor: pointer;
}

.header-tweet-button:hover {
    background-color: #1A91DA;
    transition: background-color 1000ms linear;
}

.header-tweet-button:focus {
    outline: none;
}