.SideBar {
    position: absolute;
    margin-left: 850px;
    height: 100vh;
    scroll-behavior: unset;
    width: 350px;
    box-sizing: border-box;
    top: 0;
}

@media (max-width: 1200px) {
    .SideBar {
        margin-left: 690px;
    }
}

@media (max-width: 1040px) {
    .SideBar {
        display: none;
    }
}

.sidebar-container {
    padding: 0.5rem 1.5rem;
}

.sidebar-content {
    padding-top: 60px;
}

.sidebar-title {
    position: fixed;
    width: inherit;
    box-sizing: border-box;
    background-color: #15202B;
}

.sidebar-footer {
    padding: 0 1rem;
}

.sidebar-footer a {
    color: rgb(136, 153, 166);
    margin-right: 10px;
    font-size: 0.8rem;
    text-decoration: none;
}

.sidebar-footer a:hover {
    text-decoration: underline;
}