.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
}

@media (max-width: 1200px) {
    .container {
        width: 1040px;
    }
}

@media (max-width: 1040px) {
    .container {
        width: 690px;
    }
}

@media (max-width: 690px) {
    .App {
        justify-content: flex-start;
    }
    .container {
        width: 100%;
    }
}

.title {
    position: fixed;
    top: 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #38444D;
    padding: 0.4rem;
    box-sizing: border-box;
    height: 50px;
    background-color: #15202B;
    border-right: 1px solid #38444D;
}

.title h1 {
    font-size: 1.2rem;
    padding-left: 0.8rem;
    margin: 0;
}

.title-icon {
    color: #1DA1F2;
    border-radius: 50px;
    padding: 0.8rem 0.9rem;
}

.title-icon:hover{
    background-color: #162D40;
}

.border-bottom {
    border-bottom: 1px solid #38444D;
}

.hover-background:hover {
    background-color: #162D40;
    transition: color 0.5s, background-color 0.5s;
}

.Spacer {
    padding: 0.2rem;
    border-bottom: 1px solid #38444D;
    background-color: #192734;
    border-right: 1px solid #38444D;
}

.screen-switcher {
    position: fixed;
    width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid #38444D;
    border-bottom: 1px solid #38444D;
    box-sizing: border-box;
}

.screen-switcher-button {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.screen-switcher-button-active {
    border-bottom: 2px solid #1DA1F2;
    color: #1DA1F2;
}

.screen-switcher-button:hover {
    background-color: #162D40;
    color: #1DA1F2;
    transition: color 0.5s, background-color 0.5s;
}

main {
    margin-left: 250px;
    width: 600px;
}

@media (max-width: 1200px) {
    main {
        margin-left: 90px;
    }
}

@media (max-width: 690px) {
    .title {
        width: 100%;
        padding-right: 90px;
    }
    .screen-switcher {
        width: 100%;
        padding-right: 90px;
    }
    main {
        width: auto;
    }
}