.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
}

.Screen {
    width: 250px;
}

.title {
    position: fixed;
    top: 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.title h1 {
    font-size: 1.3rem;
    padding: 0.8rem;
    margin: 0;
}

.title-icon {
    padding: 1rem;
}